<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <script src="https://kit.fontawesome.com/1abb2e3300.js" crossorigin="anonymous"></script>
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>